@page "/profesor/{ProfesorId:int}"

<PageTitle>Profesor</PageTitle>

<div class="card" style="width: 18rem;">
    <img src="https://www.bucks.ac.uk/sites/default/files/styles/400x400/public/2021-03/dummy-profile-image.png?h=56332f9e&itok=iIPWqhAi" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@UnProfesor.Nombre</h5>
        <p class="card-text">Titulacion: <strong>@UnProfesor.Titulacion.</strong></p>
    </div>
</div>
